<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="acxiom.web">
      <section name="framework" type="System.Configuration.SingleTagSectionHandler"/>
      <sectionGroup name="scriptHandler">
        <section name="packer" type="System.Configuration.SingleTagSectionHandler"/>
      </sectionGroup>
    </sectionGroup>
    <section name="ApiService" type="Acxiom.Web.Api.Proxy.Configuration.WebConfigSection, Acxiom.Web"/>
    <section name="styleGuide" type="GlobalNavService.Utils.StyleGuideSection"/>
  </configSections>
  <connectionStrings>
    <add name="DPPortalRead" connectionString="Data Source=127.0.0.1,4444;Initial Catalog=DPPortal_AWS;User id=app_accounts_write;password=qVTje%PBeMh8gWePJQgx"/>
    <add name="DPPortalWrite" connectionString="Data Source=127.0.0.1,4444;Initial Catalog=DPPortal_AWS;User id=app_accounts_write;password=qVTje%PBeMh8gWePJQgx"/>
    <!--
    <add name="DPPortalRead" connectionString="Data Source=paassqldev01.global.shareddev.acxiom.net;Initial Catalog=DPPortal;User id=app_admin;password=j3zU9pw7;Application Name=Global Nav Service" />
    <add name="DPPortalWrite" connectionString="Data Source=paassqldev01.global.shareddev.acxiom.net;Initial Catalog=DPPortal;User id=app_admin;password=j3zU9pw7;Application Name=Global Nav Service" />
    -->
  </connectionStrings>
  <ApiService>
    <ApiService name="ApiService" address="http://services.myacxiomdev.com:8080/api/v2"/>
    <Security name="Global Navigation Service" apiKey="60fcc59b-3479-4504-b69b-a4b99000c476" apiSecret="2F56606706b710390029633159CB34"/>
  </ApiService>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="AcxiomWwwApplicationName" value="www"/>
    <add key="AccountsApplicationName" value="accounts"/>
    <add key="LoginApplicationName" value="login"/>
    <add key="LogInActionName" value="login.aspx"/>
    <add key="LogOutActionName" value="logout.aspx"/>
    <add key="LoginLinks" value="login,passwordReset,registration"/>
    <add key="ApplicationMarketplaceUrl" value="#ApplicationMarketplaceUrl"/>
    <add key="TechSupportUrl" value="https://acxiomcommunity.force.com/aos"/>
    <add key="DefaultHelpUrl" value="https://aosdoc.myacxiom.com"/>
    <add key="AcxiomUrl" value="http://aos.acxiom.com/"/>
    <add key="GaAccount" value="fake_GaAccount"/>
    <add key="GaDomainName" value="fake_GaDomainName"/>
    <add key="StyleGuideRoot" value="http://services-internal.myacxiomdev.com:8080/cdn/sg/1_3_2"/>
    <!--<add key="StyleGuideRoot" value="http://services.myacxiom.loc/cdn/sg/1_3_2"/>-->
    <!--during development keep it commented to dynamically resolve script url to the file hosted locally by this application-->
    <!--<add key="GlobalNavScriptUrl" value="http://services-internal.myacxiomdev.com:8080/globalNav/1_1/Content/scripts/globalNav.js"/>-->
    <!--<add key="GlobalNavScriptUrl" value="http://services.myacxiom.loc/cdn/sg/gn/scripts/globalNav.js"/>-->
    <add key="DefaultLocality" value="en-US"/>
  </appSettings>
  <styleGuide defaultVersion="1.3.2">
    <versions>
      <add version="1.3.2" url="http://services-internal.myacxiomdev.com:8080/cdn/sg/1_3_2"/>
      <add version="1.5" url="http://services-internal.myacxiomdev.com:8080/cdn/sg/1_5"/>
      <add version="2" url="http://services-internal.myacxiomdev.com:8080/cdn/sg/2"/>
      <add version="2.1" url="http://services-internal.myacxiomdev.com:8080/cdn/sg/2_1"/>
      <add version="1.2.2" url="http://services-internal.myacxiomdev.com:8080/cdn/sg/1_2_2"/>
    </versions>
  </styleGuide>
  <acxiom.web>
    <framework environment="dev_aws" frameworkWriteConnectionStringName="DPPortalWrite" frameworkReadConnectionStringName="DPPortalRead"/>
    <scriptHandler>
      <packer Encoding="high" FastDecode="true" SpecialChars="false" Enabled="false"/>
    </scriptHandler>
  </acxiom.web>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <machineKey validationKey="14F94D1207C3FE00B7D1313938D3E6CB3B1276D2CF231A560DD8ED9ED3353F8D853D88FE109FCE1AA8812E1966D75F365DC05518FE9B93A2C9EEFCA693CE1404" decryptionKey="9E65BBF0F422CD5D633078ECEC7D6334620D841B57268EFECA2385EEE805E15C" validation="SHA1" decryption="AES"/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="JS" path="*.js" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="4.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="InfoFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="App_Data\logs\globalNavService.log"/>
      <appendToFile value="true"/>
      <preserveLogFileNameExtension value="true"/>
      <countDirection value="1"/>
      <staticLogFileName value="false"/>
      <rollingStyle value="Composite"/>
      <datePattern value="_yyyyMMdd"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="50MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyy-MM-ddTHH:mm:ss.fffffffZ} %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMax value="NOTICE"/>
      </filter>
    </appender>
    <root>
      <appender-ref ref="InfoFileAppender"/>
    </root>
  </log4net>
</configuration>